@if (product) {
<a routerLink="/products" class="text-blue-500 hover:text-blue-700">Back to product page</a>
<div class="p-6 max-w-2xl mx-auto bg-white rounded-xl shadow-2xl space-y-4 mb-2">
    <h1 class="font-bold text-center text-3xl">{{product.title}}</h1>
    <img [src]="product.thumbnail" [alt]="product.title" class="w-full h-64 object-contain rounded">
    <p class="flex flex-wrap text-justify">
        <span class="font-bold mr-1 whitespace-nowrap">Deskripsi: </span>
        <span class="flex-1 text-justify">{{product.description}}</span>
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6 gap-x-16 text-gray-800 place-items-start">
        <div class="self-start">
            <p>
                <span class="font-bold">Category: </span> {{product.category}}
            </p>
        </div>
        <div class="self-start">
            <p><span class="font-bold">Price: </span> {{product.price | currency:'USD '}} </p>
        </div>
        <div class="self-start">
            <p> <span class="font-bold">Stock:</span> {{product.stock}} </p>
        </div>
        <div class="self-start">
            <p> <span class="font-bold">Brand: </span> {{product.brand}} </p>
        </div>

        <div class="flex flex-wrap text-justify">
        <span class="font-bold mr-1 whitespace-nowrap">Dimensi: </span>
        <ul class="text-justify list-disc list-inside">
            <li> <span>Width: </span>{{product.dimensions.width}}</li>
            <li> <span>Height:</span> {{product.dimensions.height}} </li>
            <li><span>Depth: </span> {{product.dimensions.depth}} </li>
        </ul>
        </div>

    </div>
</div>
}